{% extends "reclutamiento/base_adminlte.html" %}
{% load static %}
{% block content %}  
<div class="card">
  <div class="card-header">
    <!--<h3 class="card-title">Title</h3>-->
    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-lg" onclick="cargaModal('{% url 'CreateLocaciones' %}', 'myModal')" >
      <i class="fas fa-plus-circle"></i> Nueva Locación
    </button>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
        <i class="fas fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <table id="example1" class="table table-bordered table-striped nowrap" style="width:100%">
      <thead>
        <tr>
          <th>Locación</th>
          <th>Nombre</th>
          <th>Ciudad</th>
          <th>Zona</th>
          <th>C.P.</th>
          <th>Estatus</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for locacion in locaciones %}
        <tr>
          <td>{{locacion.locacion}}</td>
          <td>{{locacion.locacion_name}}</td>
          <td>{{locacion.ciudades}}</td>
          <td>{{locacion.zona_ciudad}}</td>
          <td>{{locacion.codigo_postal}}</td>
          <td>
            {% if locacion.activo == "Y" %}
                <button class="btn btn-success btn-xs disabled" >
                  <i class="fas fa-thumbs-up"></i> Activo
                </button>
            {% else %}
                <button class="btn btn-secondary btn-xs disabled" >
                  <i class="fas fa-thumbs-down"></i> Inactivo
                </button>
            {% endif %}
          <td>
            <a href="{% url 'DetailsLocaciones' locacion.id %}" class="btn btn-info btn-xs"><i class="fas fa-info-circle"></i> Detalles</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>  

    <div class="modal fade" id="modal-lg">
      <div class="modal-dialog modal-lg" id="myModal">
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  </div>
  <!-- /.card-body -->
  <div class="card-footer">
    Footer
  </div>
  <!-- /.card-footer-->
</div>

<script src="{% static 'reclutamiento/AdminLTE/utils.js' %}"></script>
<script>
  $(document).ready(function() {
    cargaDataTablet("example1", 0, 'desc',[5,6])
  });
</script>
{% endblock content %}