{% extends "reclutamiento/base_adminlte.html" %}
{% load static %}
{% block content %}  
<div class="card">
  <div class="card-header">
    <!--<h3 class="card-title">Title</h3>-->
    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-lg" onclick="cargaModal('{% url 'Create' %}', 'myModal')" >
      <i class="fas fa-plus-circle"></i> Nuevo proveedor
    </button>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
        <i class="fas fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Proveedor</th>
          <th>RFC</th>
          <th>Razon Social</th>
          <th>Fecha Alta</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for proveedor in proveedores %}
        <tr>
          <td>{{proveedor.proveedor}}</td>
          <td>{{proveedor.rfc}}</td>
          <td>{{proveedor.razon_social}}</td>
          <td>{{proveedor.created}}</td>
          <td>
            <!--<button class="btn btn-default btn-xs" data-toggle="modal" data-target="#modal-lg" onclick="cargaModal('{% url 'Edit' proveedor.id %}', 'myModal')" >
              <i class="fas fa-edit"></i> Editar
            </button>-->
            <a href="{% url 'Details' proveedor.id %}" class="btn btn-info btn-xs"><i class="fas fa-info-circle"></i> Detalles</a>
            
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>  

    <div class="modal fade" id="modal-lg">
      <div class="modal-dialog modal-lg" id="myModal">
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  </div>
  <!-- /.card-body -->
  <div class="card-footer">
    Footer
  </div>
  <!-- /.card-footer-->
</div>

<script>
  /*
  * 
  *Carga una pagina en un div
  *
  */
  function cargaModal(metodo, div){
    $.ajax({
        type: "GET",
        url: metodo,
        success: function(html){
            $("#"+div).html(html);
        }
    });
  };

  $(function () {
    
    $('#example1').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
{% endblock content %}