{% extends "reclutamiento/base_adminlte.html" %}
{% load static %}
{% block content %} 

<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Main content -->
        <div class="invoice p-3 mb-3">
          <!-- title row -->
          <div class="row">
            <div class="col-12">
              <h4>
                <i class="fas fa-user"></i> (Id:{{facturacion.id}}) {{facturacion.proveedores}}  
                <small class="float-right">Alta: {{facturacion.created}}</small>
              </h4>
            </div>
            <!-- /.col -->
          </div>
          <!-- info row -->
          <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
              Reporte de facturación
              <address>
                <strong>R.F.C.: {{facturacion.proveedores.rfc}}</strong><br>
                Proveedor : {{facturacion.proveedores.razon_social}}<br>
                Periodo de facturación : {{facturacion.fecha_ini|date:'Y-m-d'}} a {{facturacion.fecha_fin|date:'Y-m-d'}}<br>
                <!--Comiciones: {{solicitud.comiciones}}<br>
                Bonos: {{solicitud.bono}}<br>
                Bonos: {{solicitud.garantia}}<br>-->                
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
              Lolicitante:
              <address>
                <strong>Contacto: {{solicitud.user.first_name}} {{solicitud.user.last_name}}</strong><br>
                <!--{{solicitud.locaciones}}<br>
                {{solicitud.locaciones.direccion}}<br>
                {{solicitud.user.email}} <br>-->
              </address>
            </div>
            <!-- /.col -->
            
            <div class="col-sm-4 invoice-col">
              <!--<button class="btn btn-success btn-sm btn-block disabled" >
                <i class="fas fa-thumbs-up"></i> Estatus: {{estatus}} <br> {{estatus.created}}
              </button> -->             
              <button class="btn btn-info btn-sm btn-block" data-toggle="modal" data-target="#modal-lg" onclick="cargaModal('{% url 'AddCandidatos' facturacion.fecha_ini facturacion.fecha_fin %}', 'myModal')" >
                <i class="fas fa-edit"></i> Editar
              </button>
              <!--<a href="{% url 'DeletePuestosNominas' facturacion.id %}" class="btn btn-danger btn-sm btn-block elimina" data-title="Eliminar Puesto Nomina"><i class="fas fa-trash-alt"></i> Eliminar</a>
           
              <a href="{% url 'CreateCandidatos' facturacion.id %}" class="btn btn-primary btn-sm btn-block" >
                <i class="fas fa-plus-circle"></i> Agregar Candidatos
              </a>-->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
          <br>
          <!-- Table row -->
          <div class="row">
            <div class="col-12 table-responsive">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>R.F.C.</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Locación</th>
                        <th>Puesto</th>
                        <th>Estatus</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for candidato in candidatos %}
                        <tr>
                          <td>{{candidato.id}}</td>
                          <td>{{candidato.rfc}}</td>
                          <td>{{candidato.nombre}}</td>
                          <td>{{candidato.apellido_paterno}} {{candidato.apellido_materno }}</td>
                          <td>{{candidato.locacion}}</td>
                          <td>{{candidato.puesto_operativo}}</td>
                          <td>
                            <button class="btn btn-success btn-xs disabled" >
                              <i class="fas fa-thumbs-up"></i> {{candidato.estatus}}
                            </button>
                          </td>
                          <td>
                            <a href="{% url 'DeletePuestosOperativo' candidato.id %}" class="btn btn-danger btn-xs elimina" data-title="Rechazar candidato" data-content="Esta descartando al candidato {{candidato}}, ¿Desea continuar? " >
                              <i class="fas fa-trash-alt"></i> Rechazar
                            </a>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                </table> 
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <div class="modal fade" id="modal-lg">
            <div class="modal-dialog modal-lg" id="myModal">
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->

        </div>
        <!-- /.invoice -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
  <script>
    /*
    * 
    *Carga una pagina en un div
    *
    */
    function cargaModal(metodo, div){
      $.ajax({
          type: "GET",
          url: metodo,
          success: function(html){
              $("#"+div).html(html);
          }
      });
    };

    $(function () {
      $('a.elimina').confirm({
        //content: "¿Estas seguro de querer eliminar este registro?",
        icon: 'fas fa-exclamation-triangle',
        closeIcon: true,
        closeIconClass: 'fas fa-times',
      });
    });

    $(function () {
    
        $('#example1').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": true,
          "ordering": true,
          "info": true,
          "autoWidth": false,
          "responsive": true,
          "columnDefs": [{ 
            "orderable": false, 
            "targets": [6,7] 
        }],
        });
    });
  </script>
{% endblock content %}