{% load static %}
<div class="modal-content">
    <!--<div class="overlay">
        <i class="fas fa-2x fa-sync fa-spin"></i>
    </div>-->
    <div class="modal-header">
      <h4 class="modal-title">{{titles.title_page}} | <small>{{titles.sub_title_page}}</small></h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form action="{{request.path}}" method="POST" class="form-horizontal">{% csrf_token %}
      <div class="modal-body">
        {% if form.errors %}
          <p style="color: red;">Valida la información capturada</p>
        {% endif %}
        
        {% for field in formulario %}
          {% if field.name != 'user' %}
          <div class="form-group row justify-content-md-center">
            <label class="col-form-label col-md-2 col-sm-2" for="{{ field.id_for_label }}">{{field.label}} <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 ">
              {{field}}
            </div>
            {{field.errors}}
          </div>
          {% else %}
            {% if field.value is not null  %}
              <input type="hidden" name="{{field.name}}" value="{{field.value}}">
            {% else %}
              <input type="hidden" name="{{field.name}}" value="{{user.id}}">
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </form>
  </div>
  <script src="{% static 'reclutamiento/AdminLTE/utils.js' %}"></script>
  <script>

    $("#id_puestos_operativos").change(function(){
      var id_locaciones = $('#id_locaciones').val();
      var id_puestos_operativos = $('#id_puestos_operativos').val();
      $.ajax({
          type: "GET",
          url:  "staff_autorizado/"+ id_locaciones +"/" + id_puestos_operativos  ,
          dataType: 'json',
          success: function(data) {
              //alert
              if (typeof data[0]!== 'undefined' && data[0]["fields"]["staf_autorizado"] > 0 ){
                
                $('#id_cantidad').attr({'max':data[0]["fields"]["staf_autorizado"]}).val(data[0]["fields"]["staf_autorizado"]).removeAttr('readonly');
              }else{
                $('#id_cantidad').attr({'max':0,'readonly':'readonly'}).val("");
                alert("La locación no cuenta con posiciones autorizadas para el puesto.")
              }
          }
      });
      //$('#id_staf_autorizado').attr({'max': calcula_max()})
    });
  </script>