{% extends "reclutamiento/base_adminlte.html" %}
{% load static %}
{% block content %} 

<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Main content -->
        <div class="invoice p-3 mb-3">
          <!-- title row -->
          <div class="row">
            <div class="col-12">
              <h4>
                <i class="fas fa-user"></i> (Id:{{solicitud.id}}) {{solicitud.puestos_operativos}} - {{solicitud.puestos_operativos.puestos_nominas}} 
                <small class="float-right">Alta: {{solicitud.created}}</small>
              </h4>
            </div>
            <!-- /.col -->
          </div>
          <!-- info row -->
          <div class="row invoice-info">
            <div class="col-sm-3 invoice-col">
              Datos de la vancante
              <address>
                <strong>Vacantes : {{solicitud.cantidad}}</strong><br>
                Suledo : $ {{solicitud.sueldos}}<br>
                Pago: {{solicitud.periodo_pago}}<br>
                Comiciones: {{solicitud.comiciones}}<br>
                Bonos: {{solicitud.bono}}<br>
                Bonos: {{solicitud.garantia}}<br>                
            </div>
            <!-- /.col -->
            <div class="col-sm-3 invoice-col">
              Lolicitante:
              <address>
                <strong>Contacto: {{solicitud.user.first_name}} {{solicitud.user.last_name}}</strong><br>
                {{solicitud.locaciones}}<br>
                {{solicitud.locaciones.direccion}}<br>
                {{solicitud.user.email}} <br>
              </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-3 invoice-col">
              Otra info:
              <address>
              <strong></strong><br>
              </address>
            </div>
            <div class="col-sm-3 invoice-col">
              <button class="btn btn-success btn-sm btn-block disabled" >
                <i class="fas fa-thumbs-up"></i> Estatus: {{estatus}} <br> {{estatus.created}}
              </button>              
              <button class="btn btn-info btn-sm btn-block" data-toggle="modal" data-target="#modal-lg" onclick="cargaModal('{% url 'EditSolicitudes' solicitud.id %}', 'myModal')" >
                <i class="fas fa-edit"></i> Editar
              </button>
              <a href="{% url 'DeletePuestosNominas' solicitud.id %}" class="btn btn-danger btn-sm btn-block elimina" data-title="Eliminar Puesto Nomina"><i class="fas fa-trash-alt"></i> Eliminar</a>
           
              <a href="{% url 'CreateCandidatos' solicitud.id %}" class="btn btn-primary btn-sm btn-block" >
                <i class="fas fa-plus-circle"></i> Agregar Candidatos
              </a>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
          <br>
          <!-- Table row -->
          <div class="row">
            <div class="col-12 table-responsive">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>R.F.C.</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Email</th>
                        <th>Telefono</th>
                        <th>Estatus</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for candidato in candidatos %}
                        <tr>
                          <td>{{candidato.id}}</td>
                          <td>{{candidato.personas.rfc}}</td>
                          <td>{{candidato.personas.nombre}}</td>
                          <td>{{candidato.personas.apellido_paterno}} {{candidato.personas.apellido_materno }}</td>
                          <td>{{candidato.personas.email}}</td>
                          <td>{{candidato.personas.telefono}}</td>
                          <td>
                            <button class="btn btn-success btn-xs disabled" >
                              <i class="fas fa-thumbs-up"></i> {{candidato.estatus}}
                            </button>
                            <!--{% for estatus in candidato.candidatosestatus_set.all %}
                              {% if estatus.activo == 'Y' %}
                                <button class="btn btn-success btn-xs disabled" >
                                  <i class="fas fa-thumbs-up"></i> {{estatus}}
                                </button>
                              {% endif %}
                            {% endfor %}-->
                          </td>
                          <td>
                            {% if candidato.estatus == "Postulado" %}
                              <button class="btn btn-info btn-xs" data-toggle="modal" data-target="#modal-lg" onclick="cargaModal('{% url 'CreateEntrevistas' candidato.id %}', 'myModal')" >
                                <i class="far fa-calendar-alt"></i> Agendar
                              </button>
                            {% elif candidato.estatus == "Programado" %}
                              <!--<button class="btn btn-info btn-xs" data-toggle="modal" data-target="#modal-lg" onclick="cargaModal('{% url 'EditEntrevistas' candidato.id %}', 'myModal')" >
                                <i class="far fa-calendar-alt"></i> Ver Cita
                              </button>-->
                              <a href="{% url 'EditEntrevistas' candidato.id %}" class="btn btn-info btn-xs "><i class="far fa-calendar-alt"></i> Ver Cita</a>
                            {% elif candidato.estatus == "Entrevistado" %}
                              <button class="btn btn-info btn-xs" data-toggle="modal" data-target="#modal-lg" onclick="cargaModal('{% url 'CreateEntrevistas' candidato.id %}', 'myModal')" >
                                <i class="far fa-calendar-alt"></i> Ver Entrevista
                              </button>
                            {% endif %}
                            <a href="{% url 'EditCandidatos' candidato.id %}" class="btn btn-default btn-xs {% if candidato.estatus != "Postulado" %}disabled{% endif %} "><i class="fas fa-edit"></i> Editar</a> 
                            <a href="{% url 'DeletePuestosOperativo' candidato.id %}" class="btn btn-danger btn-xs elimina" data-title="Eliminar Puesto"><i class="fas fa-trash-alt"></i> Eliminar</a>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                </table>  
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <div class="modal fade" id="modal-lg">
            <div class="modal-dialog modal-lg" id="myModal">
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->

        </div>
        <!-- /.invoice -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
  <script>
    /*
    * 
    *Carga una pagina en un div
    *
    */
    function cargaModal(metodo, div){
      $.ajax({
          type: "GET",
          url: metodo,
          success: function(html){
              $("#"+div).html(html);
          }
      });
    };

    $(function () {
      $('a.elimina').confirm({
        content: "¿Estas seguro de querer eliminar este registro?",
        icon: 'fas fa-exclamation-triangle',
        closeIcon: true,
        closeIconClass: 'fas fa-times',
      });
    });

    $(function () {
    
        $('#example1').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": true,
          "ordering": true,
          "info": true,
          "autoWidth": false,
          "responsive": true,
        });
    });
  </script>
{% endblock content %}