{% extends "reclutamiento/base_adminlte.html" %}
{% load static %}
{% block content %} 
{% load user_tags %}
<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Main content -->
        <div class="invoice p-3 mb-3">
          <!-- title row -->
          <div class="row">
            <div class="col-12">
              <h4>
                <i class="fas fa-user"></i> (Id:{{solicitud.id}}) {{solicitud.puestos_operativos}} - {{solicitud.puestos_operativos.puestos_nominas}} 
                <small class="float-right">Alta: {{solicitud.created}}</small>
              </h4>
            </div>
            <!-- /.col -->
          </div>
          <!-- info row -->
          <div class="row invoice-info">
            <div class="col-sm-3 invoice-col">
              Datos de la vacante
              <address>
                <strong>Cantidad : {{solicitud.cantidad}} ({{solicitud.get_candidatos_contratados}} contratados)</strong><br>
                Suledo : $ {{solicitud.sueldos}}<br>
                Pago: {{solicitud.periodo_pago}}<br>
                Comiciones: {{solicitud.comiciones}}<br>
                Bonos: {{solicitud.bono}}<br>
                Bonos: {{solicitud.garantia}}<br>  
                {% if  solicitud.locaciones.indicaciones_entrevista %}
                  <a href="{{solicitud.locaciones.indicaciones_entrevista.url}}" class="btn btn-secondary btn-xs" target="_blank">
                    <i class="far fa-file-pdf"></i> Instrucciones para la Entrevista.
                  </a>
                {% endif %}              
            </div>
            <!-- /.col -->
            <div class="col-sm-3 invoice-col">
              {{solicitud.locaciones}} - {{solicitud.locaciones.locacion_name}}
              <address>
                <strong>Contacto: {{contacto.user.first_name}} {{contacto.user.last_name}}</strong><br>
                Dias de atención: {{contacto.dias_atencion}}<br>
                Horario de atención: {{contacto.horario_inicio}} - {{contacto.horario_termino}} hrs.<br>
                Email: {{contacto.user.email}} <br>
                Teléfono: {{solicitud.locaciones.telefono}} <br>
                Dirección: {{solicitud.locaciones.direccion}}<br>
                <a href="https://www.google.es/maps?q={{solicitud.locaciones.latitud}}, {{solicitud.locaciones.longitud}}" class="btn btn-success btn-xs" target="_blank">
                  <i class="fas fa-map-marker-alt"></i> Ver en Google maps
                </a>
              </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-3 invoice-col">
              Proveedor:
              <address>
                <strong>{{solicitud.proveedores}}</strong><br>
                {{solicitud.proveedores.rfc}} <br>
                {{solicitud.proveedores.razon_social}}
                <!--Telefono: {{solicitud.locaciones.telefono}} <br>
                Email: {{solicitud.locaciones.email}} <br>
                Dirección: {{solicitud.locaciones.direccion}}<br>
                <a href="https://www.google.es/maps?q={{solicitud.locaciones.latitud}}, {{solicitud.locaciones.longitud}}" class="btn btn-success btn-xs" target="_blank">
                  <i class="fas fa-map-marker-alt"></i> Ver en Google maps
                </a>-->
              </address>
            </div>
            <div class="col-sm-3 invoice-col">
              
              <button class="btn {% if estatus.estatus.estatus == "Cancelada" %} btn-warning {% else %}btn-success{% endif %} btn-sm btn-block disabled" >
                {% if estatus.estatus.estatus == "Cancelada" %} <i class="fas fa-thumbs-down"></i> {% else %} <i class="fas fa-thumbs-up"></i> {% endif %}
                Estatus: {{estatus.estatus}} <br> {{estatus.created}}
              </button> 

              {% if estatus.estatus.estatus == "Cancelada" %} 
              <address>
                <strong>Motivo: {{estatus.motivos_rechazos}}  {% endif %}</strong>
              </address>
              {% if not estatus.estatus.estatus == "Cancelada" %} 
                  {% if request.user|has_group:"RH Gerentes" or request.user|has_group:"RH Admin" or request.user.is_superuser %}             
                    <button class="btn btn-info btn-sm btn-block" data-toggle="modal" data-target="#modal-lg" {% if not perms.solicitudes.change_solicitudesvacantes  %} disabled {% endif %} onclick="cargaModal('{% url 'EditSolicitudes' solicitud.id %}', 'myModal')" >
                      <i class="fas fa-edit"></i> Editar
                    </button>
                  {% endif %}
                  
                  {% if request.user|has_group:"RH Admin" or request.user.is_superuser %}
                      {% if solicitud.get_candidatos_total <= 0 %}
                          <a href="{% url 'DeleteSolicitudes' solicitud.id %}" class="btn btn-danger btn-sm btn-block elimina" data-title="Eliminar solicitud">
                            <i class="fas fa-trash-alt"></i> Eliminar</a>
                      {% else %}
                          <button class="btn btn-danger btn-sm btn-block {% if not perms.solicitudes.delete_candidatos %} disabled {% endif %}" data-toggle="modal" data-target="#modal-lg" onclick="cargaModal('{% url 'CancelSolicitudes' solicitud.id %}', 'myModal')" >
                            <i class="fas fa-ban"></i> Cancelar</a>
                          </button>                          
                      {% endif %}
                  {% endif %}

                  {% if request.user|has_group:"Proveedores" or request.user|has_group:"RH Admin" or request.user.is_superuser %}
                    <a href="{% url 'CreateCandidatos' solicitud.id %}" class="btn btn-primary btn-sm btn-block {% if solicitud.get_candidatos_contratados >= solicitud.cantidad  %} disabled {% endif %} "  >
                      <i class="fas fa-plus-circle"></i> Agregar Candidatos
                    </a>
                  {% endif %}
              {% endif %}
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
          <br>
          <!-- Table row -->
          <div class="row">
            <div class="col-12 table-responsive">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Id</th>
                        
                        <th>R.F.C.</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Email</th>
                        <th>Teléfono</th>
                        <th>Estatus</th>
                        <th>Acciones</th>
                        <th>Usuario</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for candidato in candidatos %}
                        <tr>
                          <td>{{candidato.id}} </td>
                          
                          <td>{{candidato.personas.rfc}} {% if candidato.tipo_candidato == "garantia" %}**{% endif %}</td>
                          <td>{{candidato.personas.nombre}}</td>
                          <td>{{candidato.personas.apellido_paterno}} {{candidato.personas.apellido_materno }}</td>
                          <td>{{candidato.personas.email}}</td>
                          <td>{{candidato.personas.telefono}}</td>
                          <td>
                            <button class="btn btn-success btn-xs disabled" >
                              <i class="fas fa-thumbs-up"></i> {{candidato.estatus}} <br> ({{candidato.get_dias_estatus}} días)
                            </button>
                          </td>
                          <td>
                            {% if candidato.estatus == "Postulado" %}

                                {% if request.user|has_group:"RH Gerentes" or request.user|has_group:"RH Admin" or request.user.is_superuser %}
                                  <button class="btn btn-info btn-xs" data-toggle="modal" data-target="#modal-lg" onclick="cargaModal('{% url 'CreateEntrevistas' candidato.id %}', 'myModal')" >
                                    <i class="far fa-calendar-alt"></i> Agendar Entrevista
                                  </button>
                                  <a href="{% url 'EditCandidatos' candidato.id %}" class="btn btn-default btn-xs {% if not perms.solicitudes.change_candidatos %} disabled {% endif %}" >
                                    <i class="fas fa-edit"></i> Editar
                                  </a>
                                  <button class="btn btn-danger btn-xs {% if not perms.solicitudes.delete_candidatos %} disabled {% endif %}" data-toggle="modal" data-target="#modal-lg" onclick="cargaModal('{% url 'RechazoCandidato' candidato.id %}', 'myModal')" >
                                    <i class="fas fa-trash-alt"></i> Rechazar
                                  </button>
                                {% else %}
                                  <a href="{% url 'EditCandidatos' candidato.id %}" class="btn btn-default btn-xs {% if not perms.solicitudes.change_candidatos %} disabled {% endif %}" >
                                    <i class="fas fa-edit"></i> Editar
                                  </a>
                                {% endif %}

                            {% elif candidato.estatus == "Programado" %}

                                {% if request.user|has_group:"RH Gerentes" or request.user|has_group:"RH Admin" or request.user.is_superuser %}
                                    <a href="{% url 'EditEntrevistas' candidato.id %}" class="btn btn-info btn-xs "><i class="far fa-calendar-alt"></i> Entrevista</a>
                                    <button class="btn btn-danger btn-xs {% if not perms.solicitudes.delete_candidatos %} disabled {% endif %}" data-toggle="modal" data-target="#modal-lg" onclick="cargaModal('{% url 'RechazoCandidato' candidato.id %}', 'myModal')" >
                                      <i class="fas fa-trash-alt"></i> Rechazar
                                    </button>
                                {% else %}
                                    <button class="btn btn-info btn-xs" data-toggle="modal" data-target="#modal-lg" onclick="cargaModal('{% url 'ViewEntrevistas' candidato.id %}', 'myModal')" >
                                      <i class="far fa-calendar-alt"></i> Ver Cita
                                    </button>
                                    <a href="{% url 'EditCandidatos' candidato.id %}" class="btn btn-default btn-xs {% if not perms.solicitudes.change_candidatos %} disabled {% endif %}" >
                                      <i class="fas fa-edit"></i> Editar
                                    </a>
                                {% endif %}

                            {% elif candidato.estatus == "Entrevistado" %}
                                {% if request.user|has_group:"RH Gerentes" or request.user|has_group:"RH Admin" or request.user.is_superuser %}
                                    <button class="btn btn-info btn-xs" data-toggle="modal" data-target="#modal-lg" onclick="cargaModal('{% url 'CreateContratacion' candidato.id %}', 'myModal')" >
                                      <i class="far fa-calendar-alt"></i> Agendar Contratación
                                    </button>
                                    <a href="{% url 'EditEntrevistas' candidato.id %}" class="btn btn-default btn-xs "><i class="fas fa-user"></i> Info Candidato</a>
                                    <button class="btn btn-danger btn-xs {% if not perms.solicitudes.delete_candidatos %} disabled {% endif %}" data-toggle="modal" data-target="#modal-lg" onclick="cargaModal('{% url 'RechazoCandidato' candidato.id %}', 'myModal')" >
                                      <i class="fas fa-trash-alt"></i> Rechazar
                                    </button>
                                {% else %}
                                    <button class="btn btn-info btn-xs" data-toggle="modal" data-target="#modal-lg" onclick="cargaModal('{% url 'ViewEntrevistas' candidato.id %}', 'myModal')" >
                                      <i class="far fa-calendar-alt"></i> Ver Entrevista
                                    </button>
                                    <a href="{% url 'EditCandidatos' candidato.id %}" class="btn btn-default btn-xs {% if not perms.solicitudes.change_candidatos %} disabled {% endif %}" >
                                      <i class="fas fa-edit"></i> Editar
                                    </a>
                                {% endif %}
                              
                            {% elif candidato.estatus == "Contratación" %}

                                {% if request.user|has_group:"RH Gerentes" or request.user|has_group:"RH Admin" or request.user.is_superuser %}
                                    <a href="{% url 'EditContratacion' candidato.id %}" class="btn btn-info btn-xs "><i class="far fa-calendar-alt"></i> Contratación</a>
                                    <button class="btn btn-danger btn-xs {% if not perms.solicitudes.delete_candidatos %} disabled {% endif %}" data-toggle="modal" data-target="#modal-lg" onclick="cargaModal('{% url 'RechazoCandidato' candidato.id %}', 'myModal')" >
                                      <i class="fas fa-trash-alt"></i> Rechazar
                                    </button>
                                {% else %}
                                    <button class="btn btn-info btn-xs" data-toggle="modal" data-target="#modal-lg" onclick="cargaModal('{% url 'ViewContratacion' candidato.id %}', 'myModal')" >
                                      <i class="far fa-calendar-alt"></i> Ver Cita
                                    </button>
                                    <a href="{% url 'EditCandidatos' candidato.id %}" class="btn btn-default btn-xs {% if not perms.solicitudes.change_candidatos %} disabled {% endif %}" >
                                      <i class="fas fa-edit"></i> Editar
                                    </a>
                                {% endif %}

                            {% elif candidato.estatus == "Contratado" or candidato.estatus == "Facturado" %}
                                {% if request.user|has_group:"RH Gerentes" or request.user|has_group:"RH Admin" or request.user.is_superuser %}
                                    {% if not candidato.tipo_evento == 'ingreso' %}
                                        <button class="btn btn-info btn-xs" data-toggle="modal" data-target="#modal-lg" onclick="cargaModal('{% url 'CreateIngreso' candidato.id %}', 'myModal')" >
                                          <i class="far fa-calendar-alt"></i> Agendar Ingreso
                                        </button>
                                    {% elif candidato.get_dias_garantia >= 0 %}
                                        <!-- Queda abierto el periodo de garantia -->
                                        <button class="btn btn-warning btn-xs disabled" >
                                          {% if candidato.get_dias_garantia <= 15 %}
                                            <i class="fas fa-lock-open"></i> {{candidato.get_dias_garantia}} Días de garantía
                                          {% else %}
                                            <i class="fas fa-lock"></i> Garantía Cumplida
                                          {% endif %}
                                        </button>
                                    {% else %}
                                        <!-- Queda en espera a confirmar asistencia -->
                                        <button class="btn btn-info btn-xs" data-toggle="modal" data-target="#modal-lg" onclick="cargaModal('{% url 'EditIngreso' candidato.id %}', 'myModal')" >
                                          <i class="fas fa-check"></i> Confirmar Asistencia
                                        </button>
                                    {% endif %}
                                    <a href="{% url 'EditContratacion' candidato.id %}" class="btn btn-default btn-xs "><i class="fas fa-user"></i> Info Candidato</a>
                                    <button class="btn btn-danger btn-xs {% if not perms.solicitudes.delete_candidatos %} disabled {% endif %}" data-toggle="modal" data-target="#modal-lg" onclick="cargaModal('{% url 'RechazoCandidato' candidato.id %}', 'myModal')" >
                                      <i class="fas fa-trash-alt"></i> Rechazar
                                    </button>
                                {% endif %}
                            {% else %}
                                <a href="{% url 'EditContratacion' candidato.id %}" class="btn btn-default btn-xs "><i class="fas fa-user"></i> Info Candidato</a>
                            {% endif %}
                            
                          </td>
                          <td>{{candidato.user}}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                </table>  
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <div class="modal fade" id="modal-lg">
            <div class="modal-dialog modal-lg" id="myModal">
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->

        </div>
        <!-- /.invoice -->
      </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.container-fluid -->
<script src="{% static 'reclutamiento/AdminLTE/utils.js' %}"></script>
<script>
  $(document).ready(function() {
    cargaDataTablet("example1")
  });  

  $(function () {
    $('a.elimina').confirm({
      //content: "¿Estas seguro de querer eliminar este registro?",
      icon: 'fas fa-exclamation-triangle',
      closeIcon: true,
      closeIconClass: 'fas fa-times',
    });
  });
</script>
{% endblock content %}